*.font:xft:Roboto Mono:style=bold:size=14
URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-equal:      resize-font:bigger
URxvt.keysym.C-plus:     resize-font:reset
URxvt.keysym.C-question:  resize-font:show
URxvt.iconFile: /home/kenny/.icons/candy-icons/apps/scalable/terminal.svg

*.scrollBar:false
*.cursorBlink:true
*.internalBorder:5
*.externalBorder:5
Xcursor.theme:Sweet-cursors 


! special
*.foreground:   #919191
*.background:   #000000
*.cursorColor:  #919191

! black
*.color0:       #303030
*.color8:       #5e5e5e

! red
*.color1:       #a43261
*.color9:       #ff9fc9

! green
*.color2:       #006ca5
*.color10:      #3bd6ff

! yellow
*.color3:       #007086
*.color11:      #00ddf4

! blue
*.color4:       #6751a6
*.color12:      #d5b8ff

! magenta
*.color5:       #913e88
*.color13:      #ffa7f6

! cyan
*.color6:       #0061b1
*.color14:      #93c9ff

! white
*.color7:       #c6c6c6
*.color15:      #ffffff

URxvt.depth:32
URxvt.background:rgba:0000/0000/0000/b000
